html, body {
    width: 100%;
    height: 100%;
}

.screen {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

.screen-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#result {
    color: #FFFFFF;
    font: 2em Bitter;
    line-height: 1.25;
}

@media (min-width: 43.75em) {
    #result {
        font-size: 2.5em;
        line-height: 1.125;
    }
}

@media (min-width: 56.25em) {
    #result {
        font-size: 4em;
        line-height: 1.05;
    }
}
